<div class="container">
  <nav aria-label="...">
    <ul class="pagination">

      <li class="page-item disabled" [ngClass]="{disabled : currentPage === 0}">
        <a (click)="currentPage = currentPage- 1 " class="page-link">Previous</a>
      </li>

      <ng-container *ngFor="let img of images; let i = index">
        <li class="page-item"  [ngClass]="setActiveClass( i )" *ngIf="checkWindowsIndex(i)">
          <a (click)="currentPage = i" class="page-link" href="#"> {{ i + 1 }} </a>
        </li>
      </ng-container>


      <li class="page-item" [ngClass]="{disabled : currentPage===images.length-1}">
        <a class="page-link" href="#" (click)="currentPage = currentPage +1">Next</a>
      </li>

    </ul>
  </nav>
  <div>
    <h2 appClass [bgColor]="'blue'"> {{ images[currentPage].title }} </h2>
    <img [src]="images[currentPage].imageUrl" alt="" style="max-width: 500px; max-height: 500px; ">
  </div>


  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <h4>Zero</h4>
    </div>
    <div *ngSwitchCase="1">
      <h4>One</h4>
    </div>
    <div *ngSwitchCase="2">
      <h4>Two</h4>
    </div>
    <div *ngSwitchDefault>
      <h4>Hamed</h4>
    </div>
  </div>

  <p *ngIf="isExist;else el">This is if</p>
  <ng-template #el>
    <h3>This is Else</h3>
  </ng-template>
</div>
